<div class="container mt-5">
  <%= link_to "<- Back", listings_path(@listings) %>
  <div class="container mt-5">
    <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <h2><%= @listing.name %></h2>
</div>
