<div class="container">
  <h1>My Bookings</h1>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        Listing ID: <%= booking.listing_id %><br>
        Start Date: <%= booking.start_date %><br>
        End Date: <%= booking.end_date %><br>
        User ID: <%= booking.user_id %>
      </li>
    <% end %>
  </ul>
</div>
