<div class="container mt-5">
  <h1>Enter Booking Details</h1>
  <%= simple_form_for([@listing, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit class: "btn btn-secondary" %>
  <% end %>
</div>
