<div class="container">
  <h1>Booking Details</h1>

  <p><strong>Booking ID:</strong> <%= @booking.id %></p>
  <p><strong>Start Date:</strong> <%= @booking.start_date %></p>
  <p><strong>End Date:</strong> <%= @booking.end_date %></p>
  <%= link_to "Confirm booking", root_path %>
</div>
