<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>

  <p><%= link_to "Listings", listings_path(@listings) %></p>
  <p><%= link_to "My bookings", bookings_path(@bookings) %></p>
</div>
