#background-image-home {
  background-image: url('https://media.architecturaldigest.com/photos/6421e5d048055dea0d4f1d73/master/w_2580%2Cc_limit/BisateLodge-16.jpg');
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the background image */
  height: 500px; /* Set a specific height */
    width: 100%; /* Make the div take up the full width */
}

#background-image-list {
  background-image: url('https://www.travelandleisure.com/thmb/IIBEmIubzmP-HBJv4l_nPUQidUE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/green-o-treehouse-montana_HERO_TREEHOUSE0822-219f8b36f0dd4421993eed3e8de274dc.jpg');
  background-size: cover; /* Cover the entire div */
  background-position: center; /* Center the background image */
  height: 500px; /* Set a specific height */
    width: 100%; /* Make the div take up the full width */
}
