.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:center;
}
