<div class="container mt-5">
  <h1>Enter Review Details</h1>
  <%= simple_form_for([@listing, @review]) do |f| %>
    <%= f.input :rating %>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-success" %>
  <% end %>
</div>
